<ion-view view-title="KIKO Exerience">

	<div class="bar bar-subheader multi-tab-header">
		<div class="button-bar">
			<a class="button">Offerte in negozio</a>
			<a class="button">Iniziative vicino a te</a>
		</div>
	</div>
  	
  	<ion-content class="has-subheader">
    	<circular-list>
    	
    		<circular-row class="row">
    			<circular-item class="col">
    				<img src="../img/1.png"/>
    				<p>Perfect base</p>
					<div class="container-elimina-block">
						<span class="price">Gratis</span>
					</div>
				</circular-item>
				<circular-item class="col">
    				<img src="../img/2.png"/>
    				<p>Everyday Make Up</p>
					<div class="container-elimina-block">
						<span class="price">50.00</span>
					</div>
				</circular-item>
    		</circular-row>
    		
    		<circular-row class="row">
    			<circular-item class="col">
    				<img src="../img/3.png"/>
    				<p>Iconic Style</p>
					<div class="container-elimina-block">
						<span class="price">40.00</span>
					</div>
				</circular-item>
				<circular-item class="col">
    				<img src="../img/4.png"/>
    				<p>Perfect eyes</p>
					<div class="container-elimina-block">
						<span class="price">Gratis</span>
					</div>
				</circular-item>
    		</circular-row>
    		
    		<circular-row class="row">
    			<circular-item class="col">
    				<img src="../img/3.png"/>
    				<p>Perfect brows</p>
					<div class="container-elimina-block">
						<span class="price">Gratis</span>
					</div>
				</circular-item>
				<circular-item class="col">
    				<img src="../img/4.png"/>
    				<p>Perfect lips</p>
					<div class="container-elimina-block">
						<span class="price">Gratis</span>
					</div>
				</circular-item>
    		</circular-row>
    		
    	</circular-list>
	</ion-content>
</ion-view>
