<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="mod" >

  <div class="login-header">
  	
  	<p id="slogan">Iscriviti e scopri un mondo di interazioni e
vantaggi per migliorare il tuo look.</p>
  	<div class="tabs-scheme">
  		<a href="#" class="active">Iscriviti</a>
  		<a href="#">Accedi</a>
  	</div>

  </div>
  	
  <div id="username-prompt">
  	<label class="item item-input">
    	<input type="text" placeholder="Inserisci il tuo username" ng-model="utente">
  	</label>
 <button class="button button-royal button-outline" ng-click="loginFb(utente)">Avanti</button>
  </div>

  <img src="img/login-separator.png" style="margin-top: 100px" width="auto" height="22.5px">

  {{test}}
  <!-- <a href="#/tab/dash"> -->
  	<button class="social-facebook" ng-click="loginFb(utente)"><span class="ion-social-facebook"></span>  Accedi con Facebook</button>
  	<button class="social-twitter" ng-click="loginTw(utente)"><span class="ion-social-twitter"></span>  Accedi con Twitter</button>
  <!-- </a> -->    
	
  </ion-content>
  <div class="tabs-deleter"><!-- #nothingtoseehere --></div>

  </script>
</ion-view>