<ion-view view-title="KIKO Rewards">
	<div class="bar bar-subheader multi-tab-header">
		<div class="button-bar">
			<a class="button">La mia carta</a>
			<a class="button">Offerte</a>
		</div>
	</div>
	
  	<ion-content class="has-subheader">
  		<div class="qr-code"></div>
    	<ion-list>
    		<ion-item>
    			Sara Bergiotti
    			<span class="item-note" href="#">
					Card: K7D6XXXXX
  				</span>
	  		</ion-item>
    	</ion-list>
	</ion-content>
  	<div class="bar bar-footer bar-button">
	<a  href="#/rew/saldo" class="btn-content">Saldo punti<span class="notifications-count">30</span>
		</a>

	</div>
</ion-view>
