<ion-view class="dark-background" view-title="Saldo punti">
  	<ion-content>
  		<button class="more-points">Ottieni piu punti</button>
  		<div class="infographics-placeholder"></div>
    	<ion-list class="list-dark">
    		<ion-item>
    			<span class="notifications-count">10</span>
    			20 persone hanno lasciato mi piace alla tua foto
	  		</ion-item>
	  		<ion-item>
    			<span class="notifications-count">10</span>
    			Hai collegato il tuo account a Facebook
	  		</ion-item>
    	</ion-list>
	</ion-content>
</ion-view>
