<ion-view view-title="{{data.title}}">
  <ion-content class="padding mod">

  <div class="element" style="background:url(data:image/jpeg;base64,{{data.foto}}); background-size:cover;" >
    
    <div class="bottom">
        <div class="desc">
          {{data.utente}}
          
          <div class="descr-right">
            <span class="heart" ng-click="like(data)"></span>
            <span class="like">{{data.like}}</span>
          </div>
        </div>

        
      </div>

  </div>

  
  <ion-list class="single-list">

    <div class="item item-divider single-list-divider">
      Faccia
    </div>

    <ion-item class=" item item-button-right" ng-repeat="face in data.face">

    {{face.name}} {{face.value}} 
	<div class="button">
			<button class="price">
				{{face.prezzo}},00€
			</button>
	</div>

    </ion-item>
    

    <div class="item item-divider single-list-divider">
      Occhi
    </div>

    <ion-item class=" item item-button-right" ng-repeat="face in data.face">

    {{face.name}} {{face.value}} 
	<div class="button">
			<button class="price">
				{{face.prezzo}},00€
			</button>
	</div>

    </ion-item>
    
    
    <div class="item item-divider single-list-divider">
      Labbra
    </div>

    <ion-item class=" item item-button-right" ng-repeat="face in data.face">

    {{face.name}} {{face.value}} 
	<div class="button">
			<button class="price">
				{{face.prezzo}},00€
			</button>
	</div>

    </ion-item>

  </ion-list>
  
  </ion-content>
</ion-view>
