<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-dark tabs-icon-only">

  <!-- Dashboard Tab -->
  <ion-tab title="Feed" icon="tabs-icon-custom-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Foto" icon="tabs-icon-custom-rewards"  href="#/tab/rew">
    <ion-nav-view name="tab-rew"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Foto" icon="tabs-icon-custom-shoot"  href="#/tab/foto">
    <ion-nav-view name="tab-foto"></ion-nav-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="Chats" icon="tabs-icon-custom-brush"  href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon="tabs-icon-custom-more"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
