/* Empty. Add your own CSS if you like */
/*.tab-nav{
	background: rgba(0,0,0,0.7);
}
*/
/*.barra-top{
	background: #8984c7 !important;
}
*/

.padding.mod{
	padding:	0;
/*	padding-top: 20px*/
}
.bar.bar-stable{
	color: white;
	font-weight: 100;
	background-color: #8984C7;
}
.bar.bar-stable .title{
	color: white;
	font-weight: 200;
}
.feed{
	position: relative;
	background: red;
	height: 300px;
	padding-left: 4%;
	box-size:border-box;
	display: block;

}

.feed .bottom{
	position: absolute;
	bottom: 10px;
	background: rgba(255,255,255,0.7);
	width: 92%;
	padding: 5px 15px;
	border-radius: 4px;
	font-weight: 200;
}

/*.feed .bottom::after{
	width: 100%;
	height:200%;
	content: " ";
	-webkit-filter: blur(1px);
}*/

.like{
	float: right;
}
 .heart{
	font-size: 2rem;
	float: right;
}

.feed .immagine{
	background-size: cover;
}

.bottom .desc{
	min-width: 85%;
	display: inline-block;
	margin-top: 6px;
}

.element{
	position: relative;
	background: red;
	height: 300px;
	padding-left: 4%;
	box-size:border-box;
	display: block;
}

.element .bottom{
	position: absolute;
	bottom: 10px;
	background: rgba(255,255,255,0.7);
	width: 92%;
	padding: 5px 15px;
	border-radius: 4px;
	font-weight: 200;
}

.tab-item .icon{
	margin-top: 2px;
}
.tabs-icon-custom-home {
  background-repeat: no-repeat;
  background-position:bottom;
  background-image: url('../img/tabs-icons/home.png');
  background-size: 23px 21px;
}
.tabs-icon-custom-rewards {
  background-repeat: no-repeat;
  background-position:bottom;
  background-image: url('../img/tabs-icons/rewards.png');
  background-size: 22px 22px;
}
.tabs-icon-custom-shoot {
  background-repeat: no-repeat;
  background-position:bottom;
  background-image: url('../img/tabs-icons/shoot.png');
  background-size: 33px 33px;
  padding-top: 38px;
  width: 33px;
  height: 33px;
  opacity: 1 !important;
}
.tabs-icon-custom-brush {
  background-repeat: no-repeat;
  background-position:bottom;
  background-image: url('../img/tabs-icons/brush.png');
  background-size: 20px 20px;
}
.tabs-icon-custom-more {
  background-repeat: no-repeat;
  background-position:center;
  padding-top: 46px;
  background-image: url('../img/tabs-icons/more.png');
  background-size: 23px 6px;
}

.single-list .button{
	float: right;
}

.right-buttons .button{
	background: transparent;
	border: none;
}

.button.cart-button-icon{
	padding-top: 38px;
	margin-right: 10px;
	background-image: url('../img/cart.png');
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;
	background-size: 23px 23px;
	background-position: center;
}

/*LOGIN PAGE*/
/*.no-tabs{
	height: 100%;
	bottom: 0;
}*/

.login-header{
	height: 180px;
	background-image: linear-gradient(-31deg, #6563A4 0%, #8984C7 97%);
}

.login-header #slogan{
	width: 241px;
	margin: auto;
	text-align: center;
	/* Iscriviti e scopri u: */
font-size: 13px;
color: rgba(247,247,251,0.60);
line-height: 16px;
padding-top: 83px;
}

.login-header .tabs-scheme{
	width: 241px;
	margin: auto;
	margin-top: 35px;
}

.login-header .tabs-scheme a{
	display: block;
	width: 50%;
	float: left;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.3px;
	line-height: 16px;
	opacity: .6;
	text-align: right;
}

.login-header .tabs-scheme a.active{
	opacity: 1;
	text-align: left;
	background: url(../img/bottom-triangle.png) no-repeat center bottom;
	background-position: 22px 22px;
	padding-bottom: 14px;
	background-size: auto 8px;
}

#username-prompt{
	width: 100%;
	text-align: center;
	margin-top: 100px;
}

#username-prompt .item{
	border: none;
	width: 100%;
	font-size: 13px;
	color: #8E8E8E;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-align: center;
}

#username-prompt .item input{
	text-align: center;
	color: #8E8E8E;
}

.social-facebook,
.social-twitter{
	background: none;
	border: none;
	text-align: center;
	width: 100%;
	font-size: 13px;
}

.social-facebook{
	margin-top: 50px;
	color: #3B5998;
}

.social-twitter{
	color: #55ACEE;
	margin-top: 27px;
}

.tabs-deleter{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 50px;
	bottom: 0;
	background: white;
}

/*reward*/

/* Empty. Add your own CSS if you like */
.multi-tab-header{
	background: #8984C7;
}

.multi-tab-header > .button-bar > .button{
	border-color: #fff;
	background: transparent;
	color: #fff;
}

.multi-tab-header > .button-bar > .button:first-child{
	background: #fff;
	color: #8984C7;
}

.multi-tab-header > .button-bar > .button:active{
	background: #fff;
	color: #8984C7;
}

.bar-button{
	margin-bottom: 49px;
	height: 60px;
	background: #F8F8FB;
	
}

.btn-content{
	color: #8984C7;
	font-weight: 300;
	font-size: 17px;
	margin: auto;
	display: block;
	text-decoration: none;
}

.notifications-count{
	margin-left: 8px;
	display: inline;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	color: white;
	background: #8984C7;
	padding: 0px 8px;
	border-radius: 11px;
	height: 22px;
}

.qr-code{
	height: 249px;
	width: 249px;
	background: url('../img/QrCode.png') no-repeat center;
	background-size: cover;
	margin: 40px auto;
}

/*saldo punti*/

/* Empty. Add your own CSS if you like */
.dark-background{
	background: #2F3642;
}

.more-points{
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	opacity: 0.5;
	
	display: block;
	color: #fff;
	height: 55px;
	width: 315px;
	margin: 30px auto;
	border: #fff 1px solid;
	
	font-weight: 300;
	font-size: 17px;
}

.infographics-placeholder{
	height: 325px;
	width: 325px;
	background: url('../img/Infographics.png') no-repeat center;
	background-size: cover;
	margin: 30px auto;
}

.list-dark ion-item{
	color: #fff;
	background-color: #2F3642;
}

.notifications-count-saldo{
	margin-left: 8px;
	display: inline;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	color: white;
	background: transparent;
	border: #fff 1px solid;
	padding: 0px 8px;
	border-radius: 11px;
	margin-right: 15px;
}

/* Empty. Add your own CSS if you like */
.multi-tab-header{
	background: #8984C7;
}

.multi-tab-header > .button-bar > .button{
	border-color: #fff;
	background: transparent;
	color: #fff;
}

.multi-tab-header > .button-bar > .button:first-child{
	background: #fff;
	color: #8984C7;
}

.multi-tab-header > .button-bar > .button:active{
	background: #fff;
	color: #8984C7;
}

circular-row{
	margin-top: 30px;
	margin-bottom: 30px;
}

circular-item {
	margin: auto;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
}

circular-item > *{
	margin: auto;
}

circular-item > img{
	display: block;
	width: 143px;
	height: 143px;
	border-radius: 50%; 
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
}

circular-item > p{
	margin: 16px auto;
}

.price {
	text-transform: uppercase;
	color: #8984C7;
	font-size: 10px;
	font-weight: 500px;
	padding: 6px 8px;
	border: #8984C7 1px solid;
}



